nav{
    background-color: rgb(122, 126, 126);
    padding: 4px 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    color: rgb(236, 232, 232);
}

.links{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

a{
    text-decoration: none;
    margin-top: 16px;
    color: white;
}